.btn {
  border-radius: 0 !important;
}

.thead-background {
  background: #00074B !important;
  color: white;
}

.btn-success {
  background: #0a680a;
}

.btn-success:hover {
  background: #063906;
}

.btn-danger {
  background: darkred;
}

.sidebar {
  height: 100vh;
  -webkit-box-shadow: 10px 0px 5px -7px rgba(0, 0, 255, 0.75);
          box-shadow: 10px 0px 5px -7px rgba(0, 0, 255, 0.75);
}

.common-shadow .card {
  -webkit-box-shadow: 0.1rem 0.2rem 0.4rem #00074B !important;
          box-shadow: 0.1rem 0.2rem 0.4rem #00074B !important;
}

h1 {
  color: #00074B !important;
}

.btn-primary {
  background: #00074B !important;
}

.btn-primary:hover {
  background: #0011b1 !important;
}

.btn-success {
  background: #00074B !important;
}

.btn-success:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-success:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-success:hover {
  background: #0011b1 !important;
}

.modal-header {
  background: #00074B !important;
  color: white !important;
}

.bg-dark {
  background: #fff !important;
  color: #00074B;
}

.nav-item.current .nav-link {
  color: #0086b3 !important;
}

.modal {
  position: absolute !important;
  top: 0 !important;
  margin-top: 0 !important;
}

.bg-modal {
  background: #00074B;
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #00074B;
}

.nav-link {
  font-weight: bold;
  font-size: .9rem;
}

.card-text {
  font-weight: bold;
  text-transform: uppercase !important;
  letter-spacing: .1rem;
}

label {
  color: #00074B;
  font-weight: bold;
}

.navbar-brand {
  background: #00074B !important;
  color: #fff;
}

.navbar-brand h1 {
  letter-spacing: .2rem !important;
}

.navbar-brand p {
  font-size: .7rem;
  letter-spacing: .2rem;
  font-weight: bold;
}

.nav-link {
  text-transform: uppercase;
  padding: .6rem 1rem !important;
  color: #00074B !important;
}

.dropdown-menu {
  border-radius: 0;
  border: none;
}

.dropright .dropdown-menu {
  margin: 0 !important;
}

.dropdown-item {
  padding: .6rem 1rem !important;
  color: #00074B !important;
}

.dropdown-item:hover {
  background: none !important;
  color: deepskyblue !important;
}

.dropdown-item:hover {
  background: none;
  color: deepskyblue !important;
}

.topnav {
  background: #00074B;
  padding: .2rem;
}

.topnav .nav-link {
  color: white !important;
}

.revenue .card-title {
  color: deepskyblue !important;
}

.sidebar-link {
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.sidebar-link:hover {
  color: #0086b3 !important;
}

.fa-bars {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.dashbar .card {
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.98);
          box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.98);
}

.dashbar .card .card-body i.fas {
  color: #00074B;
  font-size: 3rem;
}

.dashbar .card .card-body h1 {
  color: #00074B !important;
}

.dashbar .card .card-body p {
  color: #00074B !important;
}

.selling-items .card .card-title {
  color: deepskyblue;
}

.card .card-header {
  background: white;
}

@media (max-width: 768px) {
  .sidebar {
    position: static;
    height: auto;
  }
  .top-navbar {
    position: static;
  }
}
/*# sourceMappingURL=style.css.map */